
h1 {
    margin-left: 100px;
}
.aaa {
    font-size: 40px;
    border-bottom: 1px solid red;
   border-right: 2px solid red;
    border-left: 2px solid red;
    border-top: 2px solid red;
    padding: 30px;
    text-align: center;
    
}
td img {
    width: 30px;
}